<div class="container-create">
    <form action="/create/created" method="POST">
        <div class="main">
            <h2>Create</h2> </div>
        <div class="add-file">
            <button class="add-file-button" type="button">Add File +</button><br>
        </div>
        <button class="done-button" type="submit">Save</button>
    </form>
</div>
