<div class="register">
    <h2>Register</h2>
    <hr>
    <div class="register-inputs">
        <label for="username">Email/Username</label><br>
        <input type="text" id="username" name="username"><br>

        <label for="password">Password</label>
        <input type="text" id="password" name="password">

    </div>
        <button class="signin-button" type="button">Register</button>
    <div>
        <a href="/signin">
        <button class="signin-page-button" type="button">Back to signin</button></a>
    </div>
</div>
