<div class="sign-in">
    <h2>Sign in</h2>
    <hr>
    <div class="signin-inputs">
        <label for="username">Email/Username</label>
        <input type="text" id="username" name="username"><br>

        <label for="password">Password</label>
        <input type="text" id="password" name="password">

        <button class="signin-button" type="button">Login</button>
    </div>
    <div>
        <a href="/register">
        <button class="new-resgister-button" type="button">New? Register Here!</button></a>
    </div>
</div>
