<div class="container-view-project">
    <div class="main">
        <h2>View <br> Projects</h2> </div>
    <div class="view-file">
        <button class="view-file-button" type="button">Files</button><br>
    </div>
