<div class="container-welcome">
    <div class="main">
        <h2>Welcome User!</h2>
        <div class="project-buttons">
            <a href="/create"><button class="new-project" type = "button">Start a new Project...</button></a>
            <button class="view-project" type = "button">View existing Projects...</button>
        </div>
    </div>
</div>