<div class="container-welcome">
    <div class="main">
        <h2>Welcome <%= nameUser %>!</h2>
        <div class="project-buttons">
            <a href="/create"><button class="new-project" type="button">Start a new Project...</button></a>
            <a href="/view"><button class="view-project" type = "button">View existing Projects...</button></a>
            <a href="/logout"><button class="new-project" type="button" >Logout...</button></a>
        </div>
    </div>
</div>
