* {
    background-color: #000000;
    color: #F8DA45;
    font-family: 'Josefin Sans', sans-serif;
}

.container-welcome, .container-start, .container-create {
    display: grid;
    width: 100vw;
    height: 100vh;
}

.container-welcome, .container-start {
    grid-template-rows: 10rem 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
            "h"
            "m";
}

.container-create {
    padding-top: 50px;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas: 
            "m s";
}

a {
    text-decoration: none;
}

.header {
    grid-area: h;
    font-size: 15px;
}

.logo-start {
    width: 50px;
    height: 70px;
    float: left;
}

.logo-welcome {
    width: 85px;
    height: 120px;
}

.main {
    grid-area: m;
    text-align: center;
}

.container-create button {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.add-file {
    grid-area: s;
}

.add-class, .add-property, .add-method {
    margin-left: 30px;
}

.method-input {
    margin-left: 40px;
}

.method-return-input {
    margin-left: 3.5px;
}

.method-def-input {
    margin-left: 15px;
}

.method-args-input {
    margin-left: 6.5px;
}

h2 {
    font-size: 40px;
}

.get-started {
    background-color: grey;
    color: #000000;
    border-radius: 4px;
    text-decoration: none;
    width: 100px;
    height: 30px;
}

.new-project, .view-project, .toggle-button {
    text-decoration: none;
    border-color: #F8DA45;
    border-width: 2px;
    height: 40px;
    width: 200px;
    border-radius: 4px;
}

.nav-skele {
    padding-top: 1.5%;
}

.sign-in {
    box-sizing: border-box;
    border: 2px solid #F8DA45;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    width: 300px;
    height: 350px;
    text-align: center;
}

.signin-inputs {
    margin-top: 30px;
    margin-left: 15px;
    text-align: left;

}

hr {
    height: 4px;
    background-color: #F8DA45;
    border: none;
    border-radius: 3px;
    width: 90%;
    
}

#username, #password {
    text-decoration: none;
    border-color: #F8DA45;
    border-width: 2px;
    border-radius: 4px;
    width: 90%;
    margin-bottom: 10px;

}

.signin-button {
    margin-top: 10px;
    background-color: grey;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
}

.new-register-button {
    border: none;
    color: grey;
    margin-top: 50px;
}
